body {
	padding: 50px 30px 50px 30px;
}
#videoElement {
	display: none;
	margin-left:auto;
	margin-right: auto;
}

.canvas {
	border:1px solid black;
	width: 100%;
	border-radius: 5px;
}

.canvas:hover{
	/* border:1px solid #ed3d63 */
}

#in_canvas{

	margin-left:auto;
	margin-right: auto;


}

.canvas_container{
	text-align: center;
	border-radius: 12px;
	display: none;
}

.canvas_container:hover{
	background: #b2dfdb;
	padding: 10px !important;

}


#button{
	justify-content: center;
	display: flex;

}
.filters{
	text-align: center;
}

